#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "-"
#define WIFI_PASSWD "-"
#define WS_ADDR "192.168.1.113"
#define WS_PORT 8000
#define WS_PATH "/ws"
#define PREF_STORE = "cldWare"

constexpr int VOTE_BUTTONS[] = { 0, 1, 2, 3, 4 };
constexpr std::size_t VOTE_BUTTON_COUNT =
    sizeof(VOTE_BUTTONS) / sizeof(VOTE_BUTTONS[0]);

void setupButtons(Button2 buttons[]) { // is here for a mix of pullup and down buttons
    for (int i = 0; i < 5; i++) {
        buttons[i].begin(VOTE_BUTTONS[i]);
    }
}

// Meant for situations like this:
// void setupButtons(Button2 buttons[]) {
//   for (int i = 0; i < 4; i++)
//     buttons[i].begin(VOTE_BUTTONS[i], INPUT_PULLUP);
//   buttons[4].begin(0);
// }

#endif